.header1 {
  color: #091A1D;
}

p {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 35px;
}

body {
  background-color: #FEC5B7;
}

.content {
  padding-top: 0px;
}

a{
  text-decoration: none;
}
img{
  height: 350px;
  width: 350px;
}